.flex-container {
  display: flex;
  justify-content: center;
}

.content-container {
  width: 700px;
}

.mat-form-field {
  width: 300px;
  margin: 10px;
  background-color: #151515 !important;
}

.mat-divider {
  margin: 30px 0 40px 0;
}
