<div class="flex-row-center">
  <div class="chat-container">
    <div class="messages-container">
      <div *ngFor="let message of messages">
        <div class="message" [ngClass]="getClass(message)">
          <img *ngIf="message.role !== 'user'" src="assets/favicon.ico" height="40" width="40">
          <p>{{ message.content }}</p>
        </div>
      </div>
    </div>
    <div class="thinking" *ngIf="loading">
      Thinking...
    </div>
    <div class="input-container">
      <textarea class="input" placeholder="Ask something about Trading" [(ngModel)]="messageInput"></textarea>
      <div class="flex-row-end">
        <button mat-icon-button (click)="sendMessage()">>
<!--          <mat-icon>arrow_forward</mat-icon>-->
        </button>
      </div>
    </div>
  </div>

</div>
