
<p class="welcome"><span class="gradient-text">Welcome</span> {{ getUserName() }}!</p>

<div class="flex-container">
  <div class="flex-column">
    <button mat-stroked-button (click)="navigate('coach')">Beginne einen Chat mit deinem personalisiertem Coach!<mat-icon>open_in_new</mat-icon></button>
    <button mat-stroked-button (click)="navigate('interview')">Richte dein Profil ein, um die Antworten deines Coaches noch genauer zu machen!<mat-icon>open_in_new</mat-icon></button>
    <button mat-stroked-button (click)="navigate('theory')">Bilde dich weiter im Theoriebereich!<mat-icon>open_in_new</mat-icon></button>
  </div>
</div>
