@use '../../styles' as *;

.welcome {
  margin-top: 200px;
  text-align: center;
  font-size: 40px;
}

.gradient-text {
  background: linear-gradient(to right, #ff4400, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
}
