<div class="platzhalter">

</div>


<div class="flex-container">
  <mat-card class="login-card">
    <mat-card-title style="margin-bottom: 20px;">Login</mat-card-title>

    <mat-card-content>
      <div class="input-container">
        <mat-form-field style="width: 200px">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username"/>
        </mat-form-field>
        <mat-form-field style="width: 200px">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" [type]="hidePassword() ? 'password' : 'text'"/>
          <button
            mat-icon-button
            matSuffix
            (click)="clickPassword($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword()"
          >
            <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
      </div>
      <button class="margin" mat-flat-button (click)="login()">Login</button>
      <p>
        New here? <a (click)="register()" class="link">Sign up</a> now!
      </p>
    </mat-card-content>
  </mat-card>
</div>
