<div class="flex-container">
    <mat-card class="mat-card">
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Anfänger
            </mat-expansion-panel-header>
            <div class="divider-container">
              <div class="clickable-divider" (click)="onLessonClick('Anfänger', 'Lektion 1')">
                <span class="lesson-title">Lektion 1</span>
                <span class="lesson-status">⭕</span>
              </div>
              <mat-divider></mat-divider>
              <div class="clickable-divider" (click)="onLessonClick('Anfänger', 'Lektion 2')">
                <span class="lesson-title">Lektion 2</span>
                <span class="lesson-status">⭕</span>
              </div>
              <mat-divider></mat-divider>
              <div class="clickable-divider" (click)="onLessonClick('Anfänger', 'Lektion 3')">
                <span class="lesson-title">Lektion 3</span>
                <span class="lesson-status">⭕</span>
              </div>
            </div>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Fortgeschritten
            </mat-expansion-panel-header>
            <div class="divider-container">
              <div class="clickable-divider" (click)="onLessonClick('Fortgeschritten', 'Lektion 1')">
                <span class="lesson-title">Lektion 1</span>
                <span class="lesson-status">⭕</span>
              </div>
              <mat-divider></mat-divider>
              <div class="clickable-divider" (click)="onLessonClick('Fortgeschritten', 'Lektion 2')">
                <span class="lesson-title">Lektion 2</span>
                <span class="lesson-status">⭕</span>
              </div>
              <mat-divider></mat-divider>
              <div class="clickable-divider" (click)="onLessonClick('Fortgeschritten', 'Lektion 3')">
                <span class="lesson-title">Lektion 3</span>
                <span class="lesson-status">⭕</span>
              </div>
            </div>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Experte
            </mat-expansion-panel-header>
            <div class="divider-container">
              <div class="clickable-divider" (click)="onLessonClick('Experte', 'Lektion 1')">
                <span class="lesson-title">Lektion 1</span>
                <span class="lesson-status">⭕</span>
              </div>
              <mat-divider></mat-divider>
              <div class="clickable-divider" (click)="onLessonClick('Experte', 'Lektion 2')">
                <span class="lesson-title">Lektion 2</span>
                <span class="lesson-status">⭕</span>
              </div>
              <mat-divider></mat-divider>
              <div class="clickable-divider" (click)="onLessonClick('Experte', 'Lektion 3')">
                <span class="lesson-title">Lektion 3</span>
                <span class="lesson-status">⭕</span>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>