<div class="flex-container">
  <mat-card class="mat-card">
    <mat-vertical-stepper class="stepper">
      <mat-step>
        <ng-template matStepLabel>Personal Information</ng-template>
        <div class="step-container">

          <mat-form-field class="mat-form-field">
            <mat-label>Surname</mat-label>
            <input matInput [(ngModel)]="userprofile.surname">
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="userprofile.name">
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="userprofile.birthdate" placeholder="MM/DD/YYYY">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Country</mat-label>
            <input matInput [(ngModel)]="userprofile.country">
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Marital Status</mat-label>
            <mat-select [(ngModel)]="userprofile.maritalStatus">
              <mat-option value="'Single'">Single</mat-option>
              <mat-option value="'Married'">Married</mat-option>
              <mat-option value="'With Children'">With Children</mat-option>
              <mat-option value="'Single Parent'">Single Parent</mat-option>
              <mat-option value="'Other'">Other</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Financial Obligations</mat-label>
            <input matInput [(ngModel)]="userprofile.financialObligations">
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Profession</mat-label>
            <input matInput [(ngModel)]="userprofile.profession">
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Employment Status</mat-label>
            <mat-select [(ngModel)]="userprofile.employmentStatus">
              <mat-option value="'Employed'">Employed</mat-option>
              <mat-option value="'Self-Employed'">Self-Employed</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <button mat-button matStepperNext>Next</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Goals and Objectives</ng-template>
        <div class="step-container">

          <mat-form-field class="mat-form-field">
            <mat-label>Primary Goal</mat-label>
            <mat-select [(ngModel)]="userprofile.primaryGoal">
              <mat-option value="'Wealth Building'">Wealth Building</mat-option>
              <mat-option value="'Side Income'">Side Income</mat-option>
              <mat-option value="'Financial Freedom'">Financial Freedom</mat-option>
              <mat-option value="'Retirement Planning'">Retirement Planning</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Time Horizon</mat-label>
            <mat-select [(ngModel)]="userprofile.timeHorizon">
              <mat-option value="'Short Term'">Short Term</mat-option>
              <mat-option value="'Medium Term'">Medium Term</mat-option>
              <mat-option value="'Long Term'">Long Term</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Starting Capital</mat-label>
            <input matInput [(ngModel)]="userprofile.startingCapital" placeholder="00.00">
            <span matTextSuffix>$</span>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Monthly Investment</mat-label>
            <input matInput [(ngModel)]="userprofile.monthlyInvestment" placeholder="00.00">
            <span matTextSuffix>$</span>
          </mat-form-field>

        </div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Commitment and Experience</ng-template>
        <div class="step-container">

          <mat-form-field class="mat-form-field">
            <mat-label>Preferred Markets</mat-label>
            <mat-select [(ngModel)]="userprofile.preferredMarkets" multiple>
              <mat-option value="'Stocks'">Stocks</mat-option>
              <mat-option value="'ETFs'">ETFs</mat-option>
              <mat-option value="'Crypto'">Crypto</mat-option>
              <mat-option value="'Forex'">Forex</mat-option>
              <mat-option value="'Commodities'">Commodities</mat-option>
              <mat-option value="'Options'">Options</mat-option>
              <mat-option value="'Futures'">Futures</mat-option>
              <mat-option value="'CFDs'">CFDs</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Tools and Platforms</mat-label>
            <input matInput [(ngModel)]="userprofile.toolsPlatforms">
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Weekly Time Commitment</mat-label>
            <input matInput [(ngModel)]="userprofile.weeklyTimeCommitment" placeholder="00.00">
            <span matTextSuffix>h</span>
          </mat-form-field>

        </div>
        <div class="step-container">

          <mat-form-field class="mat-form-field">
            <mat-label>Trading Experience</mat-label>
            <mat-select [(ngModel)]="userprofile.tradingExperience">
              <mat-option value="None">None</mat-option>
              <mat-option value="Beginner">Beginner</mat-option>
              <mat-option value="Advanced">Advanced</mat-option>
              <mat-option value="Expert">Expert</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Chart Analysis Knowledge</mat-label>
            <mat-select [(ngModel)]="userprofile.chartAnalysisKnowledge">
              <mat-option value="None">None</mat-option>
              <mat-option value="Beginner">Beginner</mat-option>
              <mat-option value="Advanced">Advanced</mat-option>
              <mat-option value="Expert">Expert</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Fundamental Analysis Knowledge</mat-label>
            <mat-select [(ngModel)]="userprofile.fundamentalAnalysisKnowledge">
              <mat-option value="None">None</mat-option>
              <mat-option value="Beginner">Beginner</mat-option>
              <mat-option value="Advanced">Advanced</mat-option>
              <mat-option value="Expert">Expert</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Certifications</mat-label>
            <input matInput [(ngModel)]="userprofile.certifications">
          </mat-form-field>

        </div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Psychological Profile</ng-template>
        <div class="step-container">


          <mat-form-field class="mat-form-field">
            <mat-label>Loss Behavior</mat-label>
            <input matInput [(ngModel)]="userprofile.lossBehavior">
          </mat-form-field>

          <mat-form-field class="mat-form-field">
            <mat-label>Stress Tolerance</mat-label>
            <mat-select [(ngModel)]="userprofile.stressTolerance">
              <mat-option value="Low">Low</mat-option>
              <mat-option value="Medium">Medium</mat-option>
              <mat-option value="High">High</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="down">
            <mat-label>Risk Affinity</mat-label>
            <mat-slider min="1" max="100" step="1" discrete [displayWith]="formatRiskAffinity">
              <input matSliderThumb [(ngModel)]="userprofile.riskAffinity">
            </mat-slider>
          </div>
        </div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Ethics and Values</ng-template>
        <div class="step-container">

          <mat-form-field class="mat-form-field">
            <mat-label>ESG Preferences</mat-label>
            <mat-select [(ngModel)]="userprofile.esgPreferences">
              <mat-option value="None">None</mat-option>
              <mat-option value="Unimportant">Unimportant</mat-option>
              <mat-option value="Medium">Medium</mat-option>
              <mat-option value="Important">Important</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Religious Restrictions</mat-label>
            <input matInput [(ngModel)]="userprofile.religiousRestrictions">
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Exclusion Criteria</mat-label>
            <input matInput [(ngModel)]="userprofile.exclusionCriteria">
          </mat-form-field>
          <div class="checkbox-container">
            <mat-slide-toggle [(ngModel)]="userprofile.excludePoliticalInvesting">Exclude Political Investing
            </mat-slide-toggle>
          </div>

        </div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Setup</ng-template>
        <div class="step-container">

          <div class="checkbox-container">
            <mat-checkbox [(ngModel)]="userprofile.tradingJournal">Trading Journal</mat-checkbox>
          </div>
          <mat-form-field class="mat-form-field">
            <mat-label>Information Management</mat-label>
            <mat-select [(ngModel)]="userprofile.informationManagement">
              <mat-option value="None">None</mat-option>
              <mat-option value="Excel">Excel</mat-option>
              <mat-option value="Trading Journal Software">Trading Journal Software</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Available Tech</mat-label>
            <input matInput [(ngModel)]="userprofile.availableTech">
          </mat-form-field>

        </div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="save()">Save</button>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
</div>
