@use '../../styles' as *;

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-card {
  background-color: #333333 !important;
  max-width: 770px;
}

.stepper {
  background: #333333 !important;
  margin: 20px;
}

.step-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 1;
  padding-top: 20px;
}

.mat-form-field {
  margin-right: 20px;
  width: 300px;
}

.checkbox-container {
  margin-right: 20px;
  width: 300px;
  height: 56px;
  display: flex;
  align-items: center;
}

.down {
  margin-right: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
