<div class="flex-container">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title><button mat-icon-button (click)="navigateLogin()"><mat-icon>close</mat-icon></button>Registration</mat-card-title>
    </mat-card-header>
    <div class="whitespace"></div>
    <mat-card-content>
      <mat-form-field class="mat-form-field">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="user.name">
      </mat-form-field>
      <mat-form-field class="mat-form-field">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email">
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="user.password" [type]="hidePassword() ? 'password' : 'text'"/>
        <button
          mat-icon-button
          matSuffix
          (click)="clickPassword($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword()"
        >
          <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>min. length 14, number and symbol required</mat-hint>
      </mat-form-field>


      <mat-form-field class="mat-form-field">
        <mat-label>Repeat Password</mat-label>
        <input matInput [(ngModel)]="repeatPassword" [type]="hideRepeatPassword() ? 'password' : 'text'"/>
        <button
          mat-icon-button
          matSuffix
          (click)="clickRepeatPassword($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideRepeatPassword()"
        >
          <mat-icon>{{hideRepeatPassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer class="flex-container footer">
      <button mat-flat-button (click)="register()">Start Your Journey</button>
    </mat-card-footer>
  </mat-card>
</div>
