@use '../../styles' as *;

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-card {
  background-color: #333333 !important;
  width: 512px;
}

.stepper {
  background: #333333 !important;
  margin: 20px;

}
